//colors
$red: #ff0000;
$black: #000;
$background: #374755;
$color_log_cabin_approx: #212121;
$navShade: #373737;
$alabaster: #fafafa;
//$primary: #007796;
$primary: #006b87;
$danger: #961F00;
$white_84: rgba(255, 255, 255, 0.84);
$white: #FFF;
$boxShadow: rgba(0, 0, 0, 0.3);
//fonts
$font_0: Ubuntu;
$font_1: sans-serif;

html,body{
  background-color: $background;
  height:100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

